<nav id="navbar">
    <div class="nav-logos">
        <a href="index.html"><img src="logos/LOGO_PU.png" alt="PU"></a>
        <a href="index.html"><img src="logos/LOGO_CEDRS.png" alt="CEDRS"></a>
        <img src="logos/LOGO_PUSERVE.png" alt="PUSERVE" id="secret-trigger-logo" title="PUSERVE">
    </div>
    <div class="menu-icon" id="hamburger-icon"><span></span><span></span><span></span></div>
    <ul class="nav-links" id="mobile-menu">
        <li><a href="index.html" class="trans-link" style="color: var(--primary-green);" data-en="Home" data-id="Beranda">Home</a></li>
        <li><a href="events.html" class="trans-link" data-en="Events" data-id="Acara">Events</a></li>
        <li><a href="news.html" class="trans-link" data-en="Outlook" data-id="Berita">Outlook</a></li>
        <li><a href="repository.html" class="trans-link" data-en="Repository" data-id="Repositori">Repository</a></li>
        <li><a href="team.html" class="trans-link" data-en="Team" data-id="Tim">Team</a></li>
        <li><button onclick="openJoinModal()" class="btn-join" data-en="Connect" data-id="Hubungi">Connect</button></li>
    </ul>
</nav>
